*{
    box-sizing: border-box;
}
.main-header{
    background-image: url(./assets/main-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;

}
.navbar{
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.7;
}
.nav-item{
    font-size: 12px;
}
.nav-link,#logo{
    color: white !important;
}
#logo{
    text-align: left;
}
@media (max-width: 991px){
    .main-row{
        max-height: 80px;
        text-align: center;
    }
    
}
@media (max-width:576px) {
    .main-row{
        font-size:4px;

    }
    #main-title, h1{
        font-size: 25px;
    }
    #main-desc{
        font-size: 18px;
    }
    .story-button{
        display: none;
    }
    .play{
        margin-top: 100px;
    }
    /* options */
    #options{
        width: 100%;
        height: 100%;
    }
    .options-kiri{
        margin-left: 25%;
    }
    .options-kanan{
        margin-right: 20%;
        margin-top: 50px;

    }
    /* features */
    .features-container{
        background-position: center;
        background-position-x: 50%;
    }
    .features-container{
       
        font-size: 12px;
        margin-left: 60px;


    }
    .main-features{
        text-align: center;
    }
    .traditional,.game-suit,.tdb{
        text-align: center;
        

    }
    /* system-req */
    #requirements{
        width: 100%;
        height: 100%;
    }
    .container-req{
        text-align: center;
        margin-left: 100px;
    }

    .story-button{
        margin-top: 80%;
        text-align: center;
        width: 100%;
        height: 100vh;
    }
    /* scores */
    #scores{
        margin-top: -16px;
    }
    .top-scores{
        text-align: center;
    }
    #see-more{
        display: none;
    }
    .card-container{
        display: block;
        width: 100vh;
        padding-top: 10px;
        text-align: center;
        margin-left: 60px;
        justify-content: center;
    }
    /* footer */
    #footer{
        text-align: center;
    }
    #skull{
        align-items: center;
    }
    #email{
        padding-top: -10px;
        margin-left: 15%;
    }
   
    #footer-link #firstmenu-footer{
        display: none;
    }
    #footer-link #secondmenu-sosmed{
        padding-top: 10%;
        padding-left: 24%;
    }
    
}
#navbarSupportedContent{
    text-align: center;
}
/* main */
.main-row{
    text-align: center;
    flex-wrap: wrap;
}

.main-col{
    max-width: 100vw !important;
    padding: 0 !important;
    overflow: hidden;
}
.main-title,.main-desc{
    color: white;
}
#play:hover{
    color: whitesmoke;
}
.main-title{
    width: 100%;
    padding-top: 10%;
    font-size: 80px;
    font-family: 'BEBAS NEUE';
    font-weight: bold;
    font-style: normal;
}
.main-desc{
    line-height: 4rem;
    font-size: 36px;
    font-family: 'BEBAS NEUE';
    font-size: 1.5rem;
    font-weight: bold;


}
.story-button{
    margin-top: 100px;
    text-align: center;
}

.story-link{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition-delay:1s ;


}    
.story-button:hover{
    -webkit-transform: translateZ(50px) scale(0.5);
            transform: translateZ(50px) scale(1.5) ;
}
/* options */

.options-isi{
    padding-top: 10%;
    background-image: url('/assets/the-games-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.options-kiri{
    display: block;
    

    text-align: center;
    

}

.options-kanan{
    display: block;

}
.judul-options, .thegame{
  
    color: white;
    opacity: 0.2;
    font-family: 'BEBAS NEUE';
    text-align: center;
    font-weight: bold;
 
}
.judul-options:hover{
    opacity: 1;
}
.thegame:hover{
    opacity: 1;
}


/* features */
.features{

    background-image: url('/assets/features.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
   
    width: 100%;

    height: 100vh;
 
    
   
}
.features-container{
    

    
    display: flex;
    padding-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    
    
    

}
#special-features:hover{
    opacity: 1;
    color: white;
}
.thefeatures:hover{
    opacity: 1;
    color: white;

}
.traditional,.game-suit,.tdb{
    padding-top: 10%;
    color: white;


    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: #FBB341;
    opacity: 0.5;

    

}
.traditional:hover{
    opacity: 1;
}
.game-suit:hover{
    opacity: 1;
}
.tdb:hover{
    opacity: 1;
}

.traditional p{

    font-weight: normal;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}
/* requirments */



.requirement{

    background-image: url('/assets/requirements.png');
    background-size:cover;
    background-repeat: no-repeat;


    text-align: center;
   
    width: 100%;

    height: 100vh;
 
}
 
.container-req{

    color: white;
    border-color: white;
    padding-left: 10px;
    padding-right: 2rem;
    width: 40%;
    margin-top: 50px;
    line-height: 1.5;
    text-align: center;
}
.top-req{
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-family: sans-serif;
    font-size: 20px;
}
    

.top-req h4{
    font-size: 18px;
    margin-top: 0px;
}

.table{
    margin-top: 20px;
    border: 5px ;
    
}
.tbody{
    width: 50px;
    


}
.tr{
    opacity: 0.2;

}
.table-title-req{
    font-family: sans-serif;
    color: #FBB341;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}

.table-content-req{
    color: white;
    text-align: center;
}
/* scores */
.scores{

    background-image: url('/assets/top-score-bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
   
    width: 100%;

    height: 200vh;
 
    
   
}
.top-scores{
    padding-top: 10%;
   

    color: white;
}




.card-title{
    padding-top: 10%;
}
.twitter{
    padding-bottom: 10%;
    float: right;
}
.twitter-icon:hover{
    background-color: rgb(0, 183, 255);
}
.twittercards-3{
    transition-duration:1s ;
}
.twittercards-2{
    transition-duration:1s ;
}
.twittercards-1{
    transition-duration:1s ;
}
.twittercards-3:hover{
    -webkit-transform:translateZ(50px)  scale(0.7);
            transform: translateZ(50px) scale(1.2);
}
.twittercards-1:hover{
    -webkit-transform:translateZ(50px) scale(0.7);
            transform: translateZ(50px) scale(1.2);
}
.twittercards-2:hover{
    -webkit-transform:translateZ(50px) scale(0.7);
            transform: translateZ(50px) scale(1.2);
}

.card-head h3{
    color: #FBB341;
}
/* footer */
.footer{

    background-image: url('/assets/top-score-bg\(2\).png');
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
   
    width: 100%;

    height: 140vh;
 
    
   
}
.footer-container{
    padding-top: 10%;
}
.skull{
    margin-left: 20%;
    opacity: 0.5;
    border-radius: 50%;
    height: 90%;

}
.right-side{
    color: white;
    
}
.right-side h1{
    font-size: 40px;
}
.right-side form{
    padding-top: 10%;
}
#footer-link{
    font-weight:bolder;
    margin-top: -8px;
    
  
    font-size: 12px;
    font-family: 'BEBAS NEUE';
    background-image: url('/assets/top-score-bg\(2\).png');
    border-bottom: 1px solid white;
    padding-bottom: 50px;
    width: 100%;
    

}

#footer-link #firstmenu-footer{
    padding-left: 75px;
}
.outer-footer-right{
    margin-left: 40%;
    color: white;
    font-weight: bold;
    font-size: 12px;


}
/* icon sosmed */
.yt:hover{
    opacity: 1;
    background-color: white;
}
.twi:hover{
    opacity: 1;
    background-color: rgb(124, 0, 128);
}
.fb:hover{
    opacity: 1;
    background-color: blue;
}
.tw:hover{
    opacity: 1.5;
    background-color: skyblue;
}